{% extends "public/menu.html" %}
{% block title %} OPS 短信通道 {% endblock %}
{% block main %}
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>
            <ul class="breadcrumb">
                {% for title in titles %}
                    {% if title == "Home" %}
                        <li>
                            <i class="icon-home home-icon"></i>
                            <a href="/">{{ title }}</a>
                        </li>
                    {% else %}

                        <li>{{ title }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input"
                               id="nav-search-input" autocomplete="off"/>
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                </form>
            </div>
        </div>
        <div class="page-content">
            <div class="page-header">
                <h1>
                    <small>
                        短信供应商
                    </small>
                </h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="center">
                                            <label>
                                                <input type="checkbox" class="ace"/>
                                                <span class="lbl"></span>
                                            </label>
                                        </th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Mobile</th>
                                        <th>Host</th>
                                        <th>Port</th>
                                        <th>
                                            <i class="icon-time bigger-110 hidden-480"></i>
                                            AvailabilityData
                                        </th>
                                        <th class="hidden-480">Status</th>
                                        <th class="hidden-480">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for data in list %}
                                        <tr>
                                        <td class="center">
                                            <label>
                                                <input type="checkbox" class="ace"/>
                                                <span class="lbl"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <a href="{{ data.url }}" target="_blank">{{ data.name }}</a>
                                        </td>
                                        <td>{{ data.add }}</td>
                                        <td>{{ data.mobile }}</td>
                                        <td>{{ data.host }}</td>
                                        <td>{{ data.port }}</td>
                                        <td>{{ data.start_time }} -- {{ data.end_time }}</td>
                                         <td class="hidden-480">
                                             {% if data.status == 0 %}
                                                 <span class="label label-sm label-warning">Expiring</span>
                                             {% else %}
                                                 <span class="label label-sm label-success">Registered</span>
                                             {% endif %}
                                        </td>
                                        <td>
                                            <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                                <input type="hidden" name="id" value="{{ data.id }}"/>
                                                <button class="btn btn-xs btn-success">
                                                    <i class="icon-ok bigger-120"></i>
                                                </button>

                                                <button class="btn btn-xs btn-info">
                                                    <i class="icon-edit bigger-120"></i>
                                                </button>

                                                <button class="btn btn-xs btn-danger">
                                                    <i class="icon-trash bigger-120"></i>
                                                </button>

                                            </div>

                                        </td>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="hr hr-18 dotted hr-double"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script type="text/javascript">
    jQuery(function ($) {
        $(".icon-edit").onclick(function(){
            
        })
    })
</script>