{% extends "public/nav.html" %}
{% block menu %}
    <script src="{{ url_for('static', filename='js/ace.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ace-elements.min.js') }}"></script>
    <div class="sidebar" id="sidebar">
        <script type="text/javascript">
            try {
                ace.settings.check('sidebar', 'fixed')
            } catch (e) {
            }
        </script>
        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    <i class="icon-signal"></i>
                </button>

                <button class="btn btn-info">
                    <i class="icon-pencil"></i>
                </button>

                <button class="btn btn-warning">
                    <i class="icon-group"></i>
                </button>

                <button class="btn btn-danger">
                    <i class="icon-cogs"></i>
                </button>
            </div>

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div>
        <!-- #sidebar-shortcuts -->

        <ul class="nav nav-list">
            {% for menu in session['menus']['data'] %}
            {% if menu.code == ischeck[0:4] %}
                <li class="active open">
            {% else %}
                 <li>
            {% endif %}
            <a href="{{ menu.uri }}" class="dropdown-toggle">
                <i class="icon-{{ menu.css_code }}"></i>
                <span class="menu-text"> {{ menu.title }} </span>
                {% if  session['menus'][menu.id|string] %}
                    <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        {% for ch in session['menus'][menu.id|string] %}
                            {% if ch.code == ischeck %}
                                <li class="active">
                            {% else %}
                                <li>
                            {% endif %}
                                <a href="{{ ch.uri }}"><i class="icon-{{ ch.css_code }}"></i>{{ ch.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div class="sidebar-collapse" id="sidebar-collapse">
            <i class="icon-double-angle-left" data-icon1="icon-double-angle-left"
               data-icon2="icon-double-angle-right"></i>
        </div>

        <script type="text/javascript">
            try {
                ace.settings.check('sidebar', 'collapsed')
            } catch (e) {
            }
        </script>
    </div>
{% endblock %}